desktop.ini
temp-plot.html
*.py
!P3_Dashboard_CGA_Gestao_das_Aguas.py
Auxiliar/Info_Hidrometros/Auxiliar
Dados/Origem/CSVs
Dados/Origem/xls_origem
Dados/Produtos/atualizacao_dfs
Dados/Produtos/Auxiliar_produtos
